<tr class="savedProperty">
    <td>
        <a href="/calculator/?__serialized_data__" class="btn btn-default btn-lg loadProperty">
            <span class="glyphicon glyphicon-download"></span>
        </a>
    </td>
    <td>
        <a href="/calculator/?__serialized_data__" class="btn btn-default btn-lg btnText">
            __property_name__
        </a>
    </td>
    <td>
        <a data-name="__property_name__" class="btn btn-default btn-lg deleteProperty">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
    </td>
</tr>
