<div class="btn-group-container savedProperty">
	<div class="btn-group">
		<a href="/calculator/?__serialized_data__" class="btn btn-default btn-lg hidden-lg hidden-mg">
		    <span class="glyphicon glyphicon-download"></span> Load
  		</a>
  		<a href="/calculator/?__serialized_data__" class="btn btn-default btn-lg hidden-lg hidden-mg">
	  		__property_name__
  		</a>
  		<a data-name="__property_name__" class="btn btn-default btn-lg hidden-lg hidden-mg deleteProperty">
		    <span class="glyphicon glyphicon-trash"></span> Delete
  		</a>

        <a href="/calculator/?__serialized_data__" class="btn btn-default btn-lg visible-lg visible-mg">
            <span class="glyphicon glyphicon-download"></span> Load
        </a>
        <a href="/calculator/?__serialized_data__" class="btn btn-default btn-lg visible-lg visible-mg">
            __property_name__
        </a>
        <a data-name="__property_name__" class="btn btn-default btn-lg visible-lg visible-mg deleteProperty">
            <span class="glyphicon glyphicon-trash"></span> Delete
        </a>
  	</div>
</div>
