html {
    min-height: 100%;
}

body {
    min-height: 100%;
    padding: $spacing;
    background-color: $background-color;

    .inner {
        background-color: $inner-background-color;
        padding: $spacing;

        .top {
            &.left {
                float: left;

                // menu link
                a {
                    color: $menu-link-color;
                    position: relative;
                    width: 100px;
                    display: block;

                    &:hover {
                        color: $menu-link-color-hover;
                        text-decoration: none;
                    }

                    span {
                        position: absolute;
                        top: 1px;
                        left: 38px;
                    }
                }
            }

            &.right {
                float: right;
            }
        }

        .content {
            margin-top: 40px;
            text-align: center;
        }
    }
}
